#reg2{
    margin-left: 50px;
  }
  #pro3{
    margin-left: 50px;
  }
  #pro4{
    margin-left: 50px;
  }
  #tim2{
    margin-left: 50px;
  }
  #not2{
    margin-left: 50px;
  }
  #stud2{
    margin-left: 50px;
  }
  #big2{
    background-color: antiquewhite;
    /* word-spacing: px; */
    letter-spacing: 1px;
  }
  li a{
    text-decoration: none;
  }
  #home2{
    margin-top: 50px;
  }
  #log2{
    margin-left: 50px;
    margin-top: 10px;
  }