#division{
    height: 500px;
    width: 500px;
    background-color: rgb(146, 203, 206);
    border: 3px;
    margin-left: 500px;
    margin-top: 100px;
}
#a{
    font-size: 50px;
    color: rgb(18, 15, 15);
    text-align: center;
    padding: 30px;
    font-style:italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#c{
    height: 1cm;
    width: 10cm;
    color: rgb(2, 2, 2);
    background-color: rgb(245, 250, 251);
    text-align: center;
    margin-left: 60px;

}
#d{
    height: 1cm;
    width: 10cm;
    color: rgb(0, 0, 0);
    background-color: rgb(243, 252, 252);
    text-align: center;
    margin-left: 60px;
    margin-top:30px ;
}
#e{
    height: 1cm;
    width: 10cm;
    margin-top: 30px;
    text-align: center;
    margin-left: 60px;
    color: aliceblue;
    background-color: rgba(11, 220, 224, 0.145);
}
#f{
    text-align: center;
    margin-top: 40px;
}
#g{
    margin-left: 310px;
}
#big{
    background-image: url('../../Assets/kelli-tungay-2LJ4rqK2qfU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 1800px;
}